<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is H2 Html page</h1>
        <img src="{{url_for('static',filename='images/card5.webp')}}" alt="Food Items" width="300px" height="300px">
        <br>
        <a href="{{url_for('sfile')}}">Rashmika Page</a>
    </center>
</body>
</html>